# Version pinning for consistent builds

six==1.15.0
splunk-sdk==1.6.14
requests==2.25.1

# COOKIECUTTER-TODO:  DEVELOPER INPUT NEEDED:   List the additional python libraries that you need here:
#pytz>=2020.5
#python-dateutil==2.8.1
